<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FocchiStartup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FocchiStartup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FocchiStartup.Properties.Settings>
            <setting name="path_BaseServer" serializeAs="String">
                <value>\\srv1\</value>
            </setting>
            <setting name="path_UT_Estero" serializeAs="String">
                <value>ut estero</value>
            </setting>
            <setting name="path_UT_Italia" serializeAs="String">
                <value>ut italia</value>
            </setting>
            <setting name="path_ConfigName" serializeAs="String">
                <value>focchiExtensions - NON CANCELLARE - .config</value>
            </setting>
            <setting name="TemplatePTOComputo" serializeAs="String">
                <value>Template_PanelTakeOff.xlsm</value>
            </setting>
            <setting name="TemplatePTOAnalisi" serializeAs="String">
                <value>Template_Tender.xlsm</value>
            </setting>
            <setting name="SQLUSER" serializeAs="String">
                <value>bim</value>
            </setting>
            <setting name="SQLPASSWORD" serializeAs="String">
                <value>Quink$2100</value>
            </setting>
            <setting name="SQLPORT" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="SQLTYPE" serializeAs="String">
                <value>MYSQL</value>
            </setting>
            <setting name="path_BIM" serializeAs="String">
                <value>bim</value>
            </setting>
            <setting name="path_TENDER" serializeAs="String">
                <value>\\tender\</value>
            </setting>
            <setting name="SQLSERVER" serializeAs="String">
                <value>192.168.100.2</value>
            </setting>
        </FocchiStartup.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <FocchiStartup.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </FocchiStartup.Properties.Settings>
    </userSettings>
</configuration>
